@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}
/* Custom Font Classes */
.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
